.hot-input {
    display: none;
}

.hot-label {
    // border: 2px solid $natural-90;
    position: relative;
    cursor: pointer;
    border-radius: 1.5rem;
}

.hot-input:checked + .hot-label {
    border: 2px solid $secondary;
    &::before {
        content: "HOT";
        position: absolute;
        padding: 8px 16px;
        font-size: 12px;
        top: -1px;
        left: -1px;
        background-color: $secondary-50;
        border-radius: 1.5rem 0 1.5rem 0;
        z-index: 1;
    }
}