.hero-section {
  background-image: url(/assets/images/index/gradient-ball.png);
  background-size: 800px 800px;
  background-position: center center;
  background-repeat: no-repeat;
  .hero-slogan {
    max-width: 815px;
  }
}
