.banner-section {
    // 預設：手機版圖片（mobile-first）
    background-image: url('/assets/images/service/banner-bg.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    // 桌面版：覆蓋成桌面圖片
    @include media-breakpoint-up(md) {
        background-image: url('/assets/images/service/banner-bg-pc.png');
    }
}

.plan-item {
    &.active.border {
        border-color: $secondary-50;
    }
    &:hover.border {
        border-color: $secondary-70;
    }
}

.domain-list-mark {
    padding-left: 5px;
    display: flex;
    align-items: center;
    &::before{
        content: '';
        display: block;
        width: 9.9px;
        height: 9.9px;
        border: 2px solid $primary;
        margin-right: 13px;
        transform: rotate(45deg);
    }
}