<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="banner-section">
        <div class="container-fluid">
          <div class="row justify-content-center position-relative py-7 py-lg-8">
            <div class="col-8 text-center ">
              <h1 class="fw-bold fs-3 fs-lg-1 mb-5 mb-lg-7">關於職旅</h1>
              <p class="text-natural-50 fs-lg-6">職旅 WorkWay 匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。</p>
              <p class="text-natural-50 fs-lg-6">無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。</p>
              <img src="/assets/images/service/banner-person.svg" alt="banner-person" style="width: 160px; height: 120px;" class="position-absolute bottom-0 end-0 me-8 d-none d-lg-block">
            </div>
          </div> 
        </div>
      </section>
      <section class="about-partner-section py-7 py-lg-8">
        <div class="container">
          <div class="text-center mb-5 mb-lg-7">
            <h2 class="fs-3 fs-lg-2 mb-3 mb-5 fw-bold">精實的職旅夥伴</h2>
            <p class="fs-7 fs-lg-6 text-natural-50">我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。 </p>
          </div>
          <div class="partner-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card shadow">
                  <img src="/assets/images/about/mentor-1.png" alt="mentor 1" class="card-img-top">
                  <div class="card-body">
                    <p class="fs-sm fs-lg-7 text-natural-50 mb-2">數位遊牧先驅</p>
                    <h3 class="fs-5 fs-lg-4 mb-4">陳志遠 Ethan Chen</h3>
                     <div class="d-flex gap-2">
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 遠端工作策略</span>
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 數位遊牧生活設計</span>
                     </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow">
                  <img src="/assets/images/about/mentor-2.png" alt="mentor 1" class="card-img-top">
                  <div class="card-body">
                    <p class="fs-sm fs-lg-7 text-natural-50 mb-2">個人品牌策略專家</p>
                    <h3 class="fs-5 fs-lg-4 mb-4">林曉彤 Clara Lin</h3>
                     <div class="d-flex flex-wrap gap-2">
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 個人品牌建立</span>
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 內容行銷策略</span>
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 故事行銷</span>
                     </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow">
                  <img src="/assets/images/about/mentor-3.png" alt="mentor 1" class="card-img-top">
                  <div class="card-body">
                    <p class="fs-sm fs-lg-7 text-natural-50 mb-2">財務自由規劃顧問</p>
                    <h3 class="fs-5 fs-lg-4 mb-4">王建明 Marcus</h3>
                     <div class="d-flex flex-wrap gap-2">
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 稅務優化</span>
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 被動收入建立</span>
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 現金流管理</span>
                     </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow">
                  <img src="/assets/images/about/mentor-4.png" alt="mentor 1" class="card-img-top">
                  <div class="card-body">
                    <p class="fs-sm fs-lg-7 text-natural-50 mb-2">創意接案與多元收入專家</p>
                    <h3 class="fs-5 fs-lg-4 mb-4">張雅琳 Ariel</h3>
                     <div class="d-flex flex-wrap gap-2">
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 創意變現策略</span>
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 線上課程開發</span>
                     </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card shadow">
                  <img src="/assets/images/about/mentor-5.png" alt="mentor 1" class="card-img-top">
                  <div class="card-body">
                    <p class="fs-sm fs-lg-7 text-natural-50 mb-2">遠端工作技術顧問</p>
                    <h3 class="fs-5 fs-lg-4 mb-4">李俊宏 Kevin Lee</h3>
                     <div class="d-flex flex-wrap gap-2">
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 專案管理自動化</span>
                        <span class="badge reounded-pill fs-sm border border-natural-85 py-1 px-2"># 虛擬團隊管理</span>
                     </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <%- include('./layout/cta'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
