<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <% locals.userState = 'guest'; %>
    <%- include('./layout/header'); -%>

    <main>
      <section class="hero-section py-7">
        <h1 class="display-1 fw-bold text-center mb-5">一起陪伴、探索<br>還有你那些未完成的夢</h1>
        <div class="d-flex justify-content-center">
          <p class="text-natural-50 me-5">自由工作很美，也很難。<br>我們用 1 對 1 陪伴，陪你從第一步開始，直到夢想變成日常</p>
          <a href="#" class="btn btn-secondary-50 fs-4">開始你的職旅<span class="material-icons-outlined ms-1">
            chevron_right
            </span></a>
        </div>
      </section>
    </main>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
