<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <% locals.userState = 'guest'; %>
    <%- include('./layout/header'); -%>

    <main>
      <section class="hero-section py-7">
        <div class="d-flex flex-column mb-6 justify-content-center align-items-center">
          <div class="hero-slogan">
            <h1 class="fs-2 fs-md-1 fs-ls-large fw-bold text-center mb-5">一起陪伴、探索<br>還有你那些未完成的夢</h1>
            <div class="d-flex">
              <p class="text-natural-50 me-auto">自由工作很美，也很難。<br>我們用 1 對 1 陪伴，陪你從第一步開始，直到夢想變成日常</p>
              <a href="#" class="btn btn-secondary-50 fs-4 d-flex align-items-center">開始你的職旅<span class="material-icons-outlined ms-1">
                chevron_right
                </span></a>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-end justify-content-center px-3">
          <div class="me-5 d-none d-md-block">
            <img class="img-fluid w-100" src="/assets/images/index/hero-1.png" alt="hero-1">
          </div>
          <div class="me-5 d-none d-md-flex flex-column">
            <img class="mb-5 img-fluid w-100" src="/assets/images/index/hero-2.png" alt="hero-2">
            <img class="img-fluid w-100" src="/assets/images/index/hero-3.png" alt="hero-3">
          </div>
          <div class="d-block">
            <img class="img-fluid w-100" src="/assets/images/index/hero-4.png" alt="hero-4">
          </div>
        </div>
      </section>
    </main>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
